<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Samodzielna Rejestracja Nowych Kamratów</title>
		<link href="/static/sarenka/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/static/sarenka/sarenka.css" rel="stylesheet"/>
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>
