{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h1>Witamy w systemie SaReNKa (do Samodzielnej Rejestracji Nowych Kamratów).</h1>
	<h3>Aby kontynuować - wprowadź swój token poniżej, a zostaniesz przekierowany do formularza rejestracyjnego.</h3>
	<form action="/" method="post">
		{% csrf_token %}
		{% for field in form.visible_fields %}
		<div class="my-4">
			<div class="form-group row">
				<label for="{{ field.id_for_label }}" class="col-lg-1 col-3 col-form-label col-form-label-lg">{{ field.label }}</label>
				<div class="col-lg-2 col-9">
					<input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" maxlength="{{ field.field.max_length }}" required="" id="{{ field.auto_id }}" class="form-control form-control-lg">
				</div>
			</div>
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary">Kontynuuj</button>
	</form>
</div>
{% endblock %}
