{% extends 'base.html' %}

{% block content %}
<div class="container">
	<form action="/submit" method="post">
		{% csrf_token %}
		{% for field in form.visible_fields %}
		<div class="form-group">
			{{ field.label_tag }}
			{{ field }}
			{{ field.errors }}
			<small class="form-text text-muted">{{ field.help_text }}</small>
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary">Zapisz</button>
	</form>
</div>
{% endblock %}
